version: "3.9"
services:
  emqx:
    image: emqx:latest
    configs:
      - source: emqx_config
        target: /opt/emqx/etc/emqx.conf
  redis:
    image: redis:latest
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
      - redis_config:/usr/local/etc/redis
    configs:
      - source: redis_config
        target: /usr/local/etc/redis/redis.conf
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
  nats:
    image: nats:latest
    ports:
      - "${NATS_PORT:-4222}:4222"
      - "${NATS_HTTP_PORT:-8222}:8222"
    volumes:
      - nats_data:/data
      - nats_config:/etc/nats
    configs:
      - source: nats_config
        target: /etc/nats/nats.conf
    command: ["-c", "/etc/nats/nats.conf"]
  redpanda:
    image: redpandadata/redpanda:latest
    command: ["redpanda", "start", "--config", "/etc/redpanda/redpanda.yaml"]
    ports:
      - "${REDPANDA_KAFKA_PORT:-9092}:9092"
      - "${REDPANDA_ADMIN_PORT:-9644}:9644"
    volumes:
      - redpanda_data:/var/lib/redpanda/data
      - redpanda_config:/etc/redpanda
    configs:
      - source: redpanda_config
        target: /etc/redpanda/redpanda.yaml
  data-backup:
    image: bash:5.2
    working_dir: /backbone/backup
    environment:
      DATA_BACKUP_INTERVAL_SECONDS: "${DATA_BACKUP_INTERVAL_SECONDS:-86400}"
    volumes:
      - ./:/backbone
      - redis_data:/backbone/data/redis
      - nats_data:/backbone/data/nats
      - redpanda_data:/backbone/data/redpanda
    entrypoint: ["/bin/bash", "-c"]
    command: ["while true; do ./backup-data.sh; sleep ${DATA_BACKUP_INTERVAL_SECONDS}; done"]
  config-backup:
    image: bash:5.2
    working_dir: /backbone/backup
    environment:
      CONFIG_BACKUP_INTERVAL_SECONDS: "${CONFIG_BACKUP_INTERVAL_SECONDS:-43200}"
    volumes:
      - ./:/backbone
    entrypoint: ["/bin/bash", "-c"]
    command: ["while true; do ./backup-configs.sh; sleep ${CONFIG_BACKUP_INTERVAL_SECONDS}; done"]

configs:
  emqx_config:
    file: ./configs/emqx/emqx.conf
  redis_config:
    file: ./configs/redis/redis.conf
  nats_config:
    file: ./configs/nats/nats.conf
  redpanda_config:
    file: ./configs/redpanda/redpanda.yaml

volumes:
  redis_data:
  redis_config:
  nats_data:
  nats_config:
  redpanda_data:
  redpanda_config:
